[submodule ".config/zsh/zsh.d/powerlevel10k"]
	path = .config/zsh/zsh.d/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule ".config/zsh/zsh.d/fsh"]
	path = .config/zsh/zsh.d/fsh
	url = https://github.com/z-shell/F-Sy-H.git
[submodule ".config/zsh/zsh.d/F-Sy-H"]
	path = .config/zsh/zsh.d/F-Sy-H
	url = https://github.com/z-shell/F-Sy-H.git
[submodule ".config/zsh/zsh.d/zsh-autosuggestions"]
	path = .config/zsh/zsh.d/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions.git
